@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
body {

  margin: 0;
  font-family: 'Roboto', sans-serif;

}

.app {
  display: flex;
  min-height: 226vh;
  
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.384);
  width: 90px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: #33333300;
  z-index: 1;
}

.title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(187, 187, 187, 0.868);
  padding: 20px;
  z-index: 1;
  content: '\e8b9';;
}

.photo-container {
  position: relative;
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

.photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(240, 248, 255, 0.716);
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}

.icon {
  font-size: 2rem;
  cursor: pointer;
  padding-top: 40px;
}
/* Calendar Styles */
.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar input[type="date"] {
  background-color: #222831;
  border: none;
  border-radius: 5px;
  color: #f0f0f0;
  font-size: 1rem;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.calendar input[type="date"]:hover,
.calendar input[type="date"]:focus {
  background-color: #393e46;
  outline: none;
}
